<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="androidx.compose.remote.creation, androidx.compose.remote.player.core, androidx.compose.remote.player.ui, androidx.compose.remote.creation.compose" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="replace" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN" tools:ignore="ProtectedPermissions" />

    <queries>
        <intent><action android:name="android.intent.action.MAIN" /></intent>
        <intent><action android:name="android.intent.action.SEARCH" /></intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="content" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="num" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="kpatv" />
        </intent>

        <provider android:authorities="com.lazycatsoftware.lmd.tvsearch" />
        <provider android:authorities="ru.yourok.num.atvsearch" />
        <provider android:authorities="ru.kinopoisk.tv.search.kinopoisk.tv" />
        <provider android:authorities="com.teamsmart.videomanager.tv.search" />
        <provider android:authorities="ru.ivi.client.tv.data.search" />
        <provider android:authorities="ru.mts.mtstv" />
        <provider android:authorities="com.ertelecom.domrutvstb.search" />
        <provider android:authorities="ru.more.play.search" />
        <provider android:authorities="tv.okko.android.tv.search" />
        <provider android:authorities="net.gtvbox.explorer.SuggestionProvider" />
        <provider android:authorities="com.tcl.assistant" />
        <provider android:authorities="com.tcl.tv.SearchContentProvider" />
        <provider android:authorities="ru.yourok.num.search.SuggestionProvider" />
        <provider android:authorities="com.lampa.app.search" />
        <provider android:authorities="top.rootu.lamps.atvsearch" />
        <provider android:authorities="net.gtvbox.vimuhd.SuggestionProvider" />

        <package android:name="ru.yourok.num" />
        <package android:name="ru.kinopoisk.tv" />
        <package android:name="com.lazycatsoftware.lmd" />
        <package android:name="ru.ivi.client" />
        <package android:name="ru.mts.mtstv" />
        <package android:name="com.ertelecom.domrutvstb" />
        <package android:name="ru.more.play" />
        <package android:name="tv.okko.android.tv" />
        <package android:name="rtb.mobile.android" />
        <package android:name="net.gtvbox.vimuhd" />
        <package android:name="com.ottplay.ottplay" />
        <package android:name="top.rootu.lamps" />
        <package android:name="ru.yourok.torrserve" />

        <intent>
            <action android:name="android.intent.action.GLOBAL_SEARCH" />
        </intent>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <uses-feature
            android:name="android.hardware.touchscreen"
            android:required="false" />
    <uses-feature
            android:name="android.software.leanback"
            android:required="true" />

    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:hardwareAccelerated="true"
            android:largeHeap="true"
            android:usesCleartextTraffic="true"
            android:networkSecurityConfig="@xml/network_security_config"
            android:requestLegacyExternalStorage="true"
            android:banner="@mipmap/ic_launcher"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.DeepNightLauncher">

        <service
                android:name="de.blinkt.openvpn.core.OpenVPNService"
                android:exported="false"
                android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <activity
                android:name="de.blinkt.openvpn.LaunchVPN"
                android:excludeFromRecents="true"
                android:exported="true"
                android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:launchMode="singleTask"
                android:clearTaskOnLaunch="true"
                android:stateNotNeeded="true"
                android:directBootAware="true"
                android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|density"
                android:taskAffinity=""
                android:excludeFromRecents="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VOICE_COMMAND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.VOICE_SEARCH_RESULTS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
                android:name=".radio.PlaybackService"
                android:exported="true"
                android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>
        </service>

        <service
                android:name=".OverlayService"
                android:foregroundServiceType="specialUse"
                android:exported="false" />

        <service
                android:name=".HomeInterceptorService"
                android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
                android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                    android:name="android.accessibilityservice"
                    android:resource="@xml/accessibility_service_config" />
        </service>

        <receiver
                android:name=".MyDeviceAdminReceiver"
                android:label="@string/app_name"
                android:description="@string/app_name"
                android:permission="android.permission.BIND_DEVICE_ADMIN"
                android:exported="true">
            <meta-data
                    android:name="android.app.device_admin"
                    android:resource="@xml/device_admin_rules" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <service
                android:name=".dsp.DSPService"
                android:exported="false"
                android:foregroundServiceType="specialUse" />

        <service
                android:name=".visualizer.VisualizerNotificationService"
                android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
                android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service
                android:name=".visualizer.VisualizerOverlayService"
                android:exported="false"
                android:foregroundServiceType="specialUse" />

        <service
                android:name=".DeepNightScreensaverService"
                android:exported="true"
                android:label="Deep Night OS Screen"
                android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                    android:name="android.service.dream"
                    android:resource="@xml/screensaver_config" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
